:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --Font-family: 'Inter', sans-serif;
  --Name-Weight: 700;
  --job-Weight: 500;
  --text-Weight: 300;
  --bgc-Card: bisque;
  --mobile-resolution: 375px;
  --desktop-resolution: 1440px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--Font-family);
  margin: 0;
  color: var(--Dark-Blue);
  background-color: red;
  display: flex;
}

.container {
  height: 100vh;
  width: 200vw;
  background-color: chocolate;
  display: grid;
  grid-template-columns: repeat(2, 100vw);
  overflow-y: hidden;
}

.card {
  background-color: gold;
  text-align: center;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 5rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 121%;
      background-image: url(/images/pattern-bg.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: contain;
    }

    &--profile {
      max-width: 70%;
      border-radius: 5px;
      z-index: 100;
    }
  }

  &__arrow {
    background-color: var(--bgc-Card);
    width: 5rem;
    height: 2.3rem;
    position: fixed;
    transform: translate(calc(50vw - 50%), 289px);
    border-radius: 31px;
    display: flex;
    overflow: hidden;
    z-index: 150;

    & .arrow {
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--prev {
      background-image: url(/images/icon-prev.svg);

    }

    &--next {
      background-image: url(../images/icon-next.svg);
      //background-position-x: right;

    }
  }

  &__info {

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 71px;
      background-image: url(/images/pattern-curve.svg);
      background-repeat: no-repeat;
      background-position-x: left;
      background-size: contain;
      bottom: 0;
      left: 0;
    }

    &--text {
      margin: 0;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        background-image: url(/images/pattern-quotes.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: contain;
        left: 0;
        transform: translateY(-25px);

      }
    }

    &>blockquote {
      padding: 0 1.5rem;
      line-height: 23px;
      font-size: 18px;
      margin: 0;
      font-Weight: var(--text-Weight);
    }

    &--name {
      font-size: 1rem;
      margin: 24px 0 0;
    }

    &--job {
      color: rgba(51, 85, 68, .467);
      margin: 3px;
      font-size: 16px;
    }
  }

}