:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --Font-family: 'Inter', sans-serif;
  --Name-Weight: 700;
  --job-Weight: 500;
  --text-Weight: 300;
  --bgc-Card: bisque;
  --mobile-resolution: 375px;
  --desktop-resolution: 1440px;
}

/*  variable sass MEDIA QUERIES */
$desktop: "(min-width: 1024px)";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--Font-family);
  margin: 0;
  color: var(--Dark-Blue);
  display: flex;
}

.container {
  height: 100vh;
  width: 200vw;
  background-color: currentColor;
  display: grid;
  grid-template-columns: repeat(2, 100vw);
  overflow: hidden;

}

.card {
  background-color: gold;
  text-align: center;

  @media #{$desktop} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 80vw;
    height: 80vh;
    margin-block: auto;
    margin-inline: auto;
    box-shadow: 10px 10px 10px rgba(15, 194, 226, 0.3);
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 5rem;
    position: relative;

    @media #{$desktop} {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 121%;
      background-image: url(/images/pattern-bg.svg);
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: contain;
    }

    &--profile {
      max-width: 70%;
      border-radius: 5px;
      z-index: 100;
    }
  }

  &__arrow {
    background-color: var(--bgc-Card);
    width: 5rem;
    height: 2.3rem;
    position: absolute;
    transform: translate(calc(50vw - 50%), calc(70vw + 2rem));
    border-radius: 31px;
    display: flex;
    overflow: hidden;
    z-index: 150;
    gap: 10px;

    @media #{$desktop} {
      transform: translate(calc(61vw - 50%), 75vh);
      box-shadow: -20px 9px 17px rgba(0, 0, 0, .3), 20px 9px 17px rgba(0, 0, 0, .3);
    }

    & .arrow {
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--prev {
      background-image: url(/images/icon-prev.svg);
      cursor: pointer;
    }

    &--next {
      background-image: url(../images/icon-next.svg);
      cursor: pointer;
    }
  }

  &__info {

    @media #{$desktop} {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 71px;
      background-image: url(/images/pattern-curve.svg);
      background-repeat: no-repeat;
      background-position-x: left;
      background-size: contain;
      bottom: 0;
      left: 0;

      @media #{$desktop} {
        width: 50%;
        height: 100px;
        transform: translate(10vw, -10vh);
      }
    }

    &--text {
      margin: 0;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        background-image: url(/images/pattern-quotes.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: contain;
        left: 0;
        transform: translateY(-25px);

        @media #{$desktop} {
          left: 379px;
          width: 100px;
        }
      }
    }

    &>blockquote {
      padding: 0 1.5rem;
      line-height: 23px;
      font-size: 18px;
      margin: 0;
      font-Weight: var(--text-Weight);

      @media #{$desktop} {
        width: 100%;
        text-align: start;
        font-size: 22px;
        transform: translateX(168px);
        z-index: 100;
      }
    }

    &--name {
      font-size: 1rem;
      margin: 24px 0 0;
    }

    &--job {
      color: rgba(51, 85, 68, .467);
      margin: 3px;
      font-size: 16px;
    }
  }

}